<div class="container">
  <div class="row">
    <div class="col-md-6">
<form>
      <div class="form-group">
        <input type="text" ng-model="People.FirstName" class="form-control" placeholder="FName" />
      </div>

      <div class="form-group">
        <input type="text" ng-model="People.LastName" class="form-control" placeholder="LName" />
      </div>

      <div class="form-group">
        <input type="text" ng-model="People.Email" class="form-control" placeholder="Email" />
      </div>

      <button type="button" class="btn btn-success" name="button" ng-click="SavePeople()">Register</button>
</form>
    </div>

  </div>

</div>
